 <app-header></app-header>
  <div *ngIf="filteredArtisans && filteredArtisans.length">
    <h2>Artisans dans la catégorie "{{ category }}"</h2>
    
      <div id="card" class="row row-cols-1 row-cols-md-3 g-4">
       
      <div class="col" *ngFor="let artisan of filteredArtisans">
        <a [routerLink]="['/artisan', artisan.name]">
        <div class="card border-success mb-3"  style="max-width: 23rem;">
          <div class="card-header" >
            <h4>{{ artisan.name }}</h4>
          </div>
          <div class="card-body">
              <p><strong>Sa spécialité : </strong>{{artisan.specialty}}</p>
              <p><strong>Sa localisation : </strong>{{artisan.location}}</p>
          </div>
          <div class="card-footer">
              <ng-container *ngFor="let filled of getStars(artisan.note)">
                  <span [class.filled]="filled" class="star">&#9733;</span>
              </ng-container>
          </div>
        </div>
      </a>
      </div> 

  </div>
</div>
  <div *ngIf="!filteredArtisans || filteredArtisans.length === 0">
    <p>Aucun artisan trouvé dans cette catégorie.</p>
  </div>
  <app-footer></app-footer>
